<!DOCTYPE html>
<html>
<body bgcolor="#FFF5FF">
<title>Hobbyist</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="#about" class="w3-bar-item w3-button w3-theme-l1">Hobbyist</a>
    <a href="/" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Home</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Take our quiz!</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contact</a>
  </div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" style="z-index:3;width:200px;margin-top:43px;" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Hobbies</b></h4>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby1">Sewing</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby2">Art</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby3">Crafting</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby4">Cooking</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby5">Reading</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby6">Puzzles</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby7">Outdoors</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby8">Sports</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby9">Photography</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby10">Gardening</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Knitting</h1>
      <p>Knitting is a method by which yarn is manipulated to create a textile or fabric.
Knitting creates multiple loops of yarn, called stitches, in a line or tube. Knitting has multiple active stitches on the needle at one time. Knitted fabric consists of a number of consecutive rows of interlocking loops. As each row progresses, a newly created loop is pulled through one or more loops from the prior row, placed on the gaining needle, and the loops from the prior row are then pulled off the other needle.
Knitting may be done by hand or by using a machine.
Different types of yarns (fibre type, texture, and twist), needle sizes, and stitch types may be used to achieve knitted fabrics with different properties (color, texture, weight, heat retention, look, water resistance, and/or integrity).</p>
    </div>
    <div class="w3-third w3-container">
        <img src="https://s-media-cache-ak0.pinimg.com/originals/31/a3/52/31a35284ee20ab28f1f7f8ce0e36f225.jpg" alt="Yarn" style="width:304px;height:228px;">
        <img src="http://cdn3.craftsy.com/blog/wp-content/uploads/2015/02/full_3069_52523_SockYarnPatchworkRecipe_1.jpg" alt="Knitting" style="width:304px;height:228px;">
    </div>
  </div>

  <div class="w3-row">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Crocheting</h1>
      <p>Crocheted fabric is begun by placing a slip-knot loop on the hook (though other methods, such as a magic ring or simple folding over of the yarn may be used), pulling another loop through the first loop, and repeating this process to create a chain of a suitable length. The chain is either turned and worked in rows, or joined to the beginning of the row with a slip stitch and worked in rounds. Rounds can also be created by working many stitches into a single loop. Stitches are made by pulling one or more loops through each loop of the chain. At any one time at the end of a stitch, there is only one loop left on the hook.</p>
    </div>
    <div class="w3-third w3-container">
      <img src="http://www.1dogwoof.com/wp-content/uploads/2016/05/crochet-jellyfish-5.jpg" alt="Crochet" style="width:304px;height:228px;">
      <img src="http://cdn3.craftsy.com/blog/wp-content/uploads/2014/12/full_7196_66098_DylanMittens_1.jpg" alt="Crochet" style="width:304px;height:228px;">
    </div>
  </div>

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Embroidery</h1>
      <p>Embroidery is the handicraft of decorating fabric or other materials with needle and thread or yarn. Embroidery may also incorporate other materials such as, pearls, beads, quills, and sequins. Today, embroidery is most often seen on caps, hats, coats, blankets, dress shirts, denim, stockings, and golf shirts. Embroidery is available with a wide variety of thread or yarn color.
The basic techniques or stitches on surviving examples of the earliest embroidery—chain stitch, buttonhole or blanket stitch, running stitch, satin stitch, cross stitch—remain the fundamental techniques of hand embroidery today.</p>
    </div>
    <div class="w3-third w3-container">
        <img src="https://s-media-cache-ak0.pinimg.com/736x/e9/d4/74/e9d47465bf601d6363b78c93f16e499a.jpg" alt="Embroidery" style="width:304px;height:228px;">
        <img src="https://cdn.instructables.com/F98/FUMO/IJSX3E43/F98FUMOIJSX3E43.MEDIUM.jpg?width=614" alt="Embroidery" style="width:304px;height:228px;">
    </div>
  </div>

  

  

<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}
</script>

</body>
</html>