<!DOCTYPE html>
<html>
<body bgcolor="#F7E8D2">
<title>Hobbyist</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="#about" class="w3-bar-item w3-button w3-theme-l1">Hobbyist</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Home</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Take our quiz!</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contact</a>
  </div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" style="z-index:3;width:200px;margin-top:43px;" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Hobbies</b></h4>
  <a class="w3-bar-item w3-button w3-hover-teal" href="hobby1.html">Sewing</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="hobby2.html">Art</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="hobby3.html">Crafting</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="hobby4.html">Cooking</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="hobby5.html">Reading</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="hobby6.html">Puzzles</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="hobby7.html">Outdoors</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="hobby8.html">Sports</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="hobby9.html">Photography</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="hobby10.html">Gardening</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Hiking</h1>
      <p>Hiking is the preferred term, in Canada and the United States, for a long, vigorous walk, usually on trails (footpaths), in the countryside, while the word walking is used for shorter, particularly urban walks. On the other hand, in the United Kingdom, and the Republic of Ireland, the word "walking" is acceptable to describe all forms of walking, whether it is a walk in the park or backpacking in the Alps. The word hiking is also often used in the UK, along with rambling (a slightly old-fashioned term), hillwalking, and fell walking (a term mostly used for hillwalking in northern England). The term "bushwalking" is endemic to Australia, having been adopted by the Sydney Bush Walkers club in 1927. In New Zealand a long, vigorous walk or hike is called tramping. It is a popular activity with numerous hiking organizations worldwide, and studies suggest that all forms of walking have health benefits</p>
    </div>
    <div class="w3-third w3-container">
        <img src="https://backroads-web.s3.amazonaws.com/images/search/thumbnail/french-italian-alps-walking-hiking-tour.jpg" alt="Hiking" style="width:304px;height:228px;">
      <img src="http://www.greenland.com/media/4913/hiking-along-the-edge-near-tiniteqilaaq-visit-greenland.jpg?width=1920&height=1280&mode=crop&format=jpg&quality=95" alt="Hiking" style="width:304px;height:228px;">
    </div>
  </div>

  <div class="w3-row">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Cycling</h1>
      <p>Cycling, also called bicycling or biking, is the use of bicycles for transport, recreation, exercise or sport. Persons engaged in cycling are referred to as "cyclists", "bikers",or less commonly, as "bicyclists". Apart from two-wheeled bicycles, "cycling" also includes the riding of unicycles, tricycles, quadracycles, recumbent and similar human-powered vehicles.
Bicycles were introduced in the 19th century and now number approximately one billion worldwide. They are the principal means of transportation in many parts of the world.
Cycling is widely regarded as a very effective and efficient mode of transportation optimal for short to moderate distances.</p>
    </div>
    <div class="w3-third w3-container">
      <img src="https://si.wsj.net/public/resources/images/AR-AA760_SP_Mai_G_20121213180326.jpg" alt="Cycling" style="width:304px;height:228px;">
      <img src="http://s3.amazonaws.com/ClubExpressClubFiles/86708/graphics/biking_in_the_meadow.jpg" alt="Cycling" style="width:304px;height:228px;">
    </div>
  </div>

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Fishing</h1>
      <p>Fishing is the activity of trying to catch fish. Fish are normally caught in the wild. Techniques for catching fish include hand gathering, spearing, netting, angling and trapping. Fishing may include catching aquatic animals other than fish, such as molluscs, cephalopods, crustaceans, and echinoderms. The term is not normally applied to catching farmed fish, or to aquatic mammals, such as whales where the term whaling is more appropriate.</p>
    </div>
    <div class="w3-third w3-container">
      <img src="http://lajewishguide.com/wp-content/uploads/2015/03/Fishing1.jpg" alt="Fishing" style="width:304px;height:228px;">
    <img src="https://s-media-cache-ak0.pinimg.com/originals/1c/cb/30/1ccb30e6baf04c95f194c602026b91d2.jpg" alt="Fishing" style="width:304px;height:228px;">
    </div>
  </div>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a class="w3-button w3-black" href="#">1</a>
      <a class="w3-button w3-hover-black" href="#">2</a>
      <a class="w3-button w3-hover-black" href="#">3</a>
      <a class="w3-button w3-hover-black" href="#">4</a>
      <a class="w3-button w3-hover-black" href="#">5</a>
      <a class="w3-button w3-hover-black" href="#">Â»</a>
    </div>
  </div>

  <footer id="myFooter">
    <div class="w3-container w3-theme-l2 w3-padding-32">
      <h4>Footer</h4>
    </div>

    <div class="w3-container w3-theme-l1">
      <!--<p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>-->
    </div>
  </footer>

<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}
</script>

</body>
</html>