<!DOCTYPE html>
<html>
<body bgcolor="#c8e2f6">
<title>Hobbyist</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="#about" class="w3-bar-item w3-button w3-theme-l1">Hobbyist</a>
    <a href="/" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Home</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Take our quiz!</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contact</a>
  </div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" style="z-index:3;width:200px;margin-top:43px;" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Hobbies</b></h4>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby1">Sewing</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby2">Art</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby3">Crafting</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby4">Cooking</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby5">Reading</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby6">Puzzles</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby7">Outdoors</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby8">Sports</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby9">Photography</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby10">Gardening</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Painting</h1>
      <p>Painting is the practice of applying paint, pigment, color or other medium to a solid surface (support base). The medium is commonly applied to the base with a brush, but other implements, such as knives, sponges, and airbrushes, can be used. Painting is a mode of creative expression, and the forms are numerous. Drawing, gesture (as in gestural painting), composition, narration (as in narrative art), or abstraction (as in abstract art), among other aesthetic modes, may serve to manifest the expressive and conceptual intention of the practitioner. Paintings can be naturalistic and representational (as in a still life or landscape painting), photographic, abstract, narrative, symbolistic (as in Symbolist art), emotive (as in Expressionism), or political in nature (as in Artivism).</p>
    </div>
    <div class="w3-third w3-container">
        <img src="http://intuitivecreativity.typepad.com/.a/6a00d83451dc5b69e201bb087309e5970d-pi" alt="Art 1" style="width:304px;height:228px;">
    </div>
  </div>

  <div class="w3-row">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Drawing</h1>
      <p>Drawing is a form of visual art in which a person uses various drawing instruments to mark paper or another two-dimensional medium. Instruments include graphite pencils, pen and ink, inked brushes, wax color pencils, crayons, charcoal, chalk, pastels, various kinds of erasers, markers, styluses, various metals (such as silverpoint) and electronic drawing. A drawing instrument releases small amount of material onto a surface, leaving a visible mark. The most common support for drawing is paper, although other materials, such as cardboard, plastic, leather, canvas, and board, may be used. Temporary drawings may be made on a blackboard or whiteboard or indeed almost anything. The medium has been a popular and fundamental means of public expression throughout human history. It is one of the simplest and most efficient means of communicating visual ideas. The wide availability of drawing instruments makes drawing one of the most common artistic activities.</p>
    </div>
    <div class="w3-third w3-container">
      <img src="https://upload.wikimedia.org/wikipedia/commons/d/db/Rembrandt-A-Lion-Lying-Down-207063_detail.jpg" alt="Art 1" style="width:304px;height:228px;">
    </div>
  </div>

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Sculpting</h1>
      <p>Sculpture is the branch of the visual arts that operates in three dimensions. It is one of the plastic arts. Durable sculptural processes originally used carving (the removal of material) and modelling (the addition of material, as clay), in stone, metal, ceramics, wood and other materials but, since Modernism, there has been an almost complete freedom of materials and process. A wide variety of materials may be worked by removal such as carving, assembled by welding or modelling, or molded, or cast.</p>
    </div>
    <div class="w3-third w3-container">
      <img src="https://www.artforkidshub.com/wp-content/uploads/2016/01/how-to-sculpt-a-turtle-feature.jpg" alt="Art 1" style="width:304px;height:228px;">
    </div>
  </div>

  

  

<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}
</script>

</body>
</html>