<!DOCTYPE html>
<html>
<body bgcolor="#fff2e6">
<title>Hobbyist</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="#about" class="w3-bar-item w3-button w3-theme-l1">Hobbyist</a>
    <a href="/" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Home</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Take our quiz!</a>
    <a href="/contact_us" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contact</a>
  </div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" style="z-index:3;width:200px;margin-top:43px;" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Hobbies</b></h4>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby1">Sewing</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby2">Art</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby3">Crafting</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby4">Cooking</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby5">Reading</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby6">Puzzles</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby7">Outdoors</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby8">Sports</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby9">Photography</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby10">Gardening</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Pottery</h1>
      <p>Pottery is made by forming a ceramic (often clay) body into objects of a required shape and heating them to high temperatures in a kiln which removes all the water from the clay, which induces reactions that lead to permanent changes including increasing their strength and hardening and setting their shape. A clay body can be decorated before or after firing; however, prior to some shaping processes, clay must be prepared. Kneading helps to ensure an even moisture content throughout the body. Air trapped within the clay body needs to be removed. This is called de-airing and can be accomplished either by a machine called a vacuum pug or manually by wedging. Wedging can also help produce an even moisture content. Once a clay body has been kneaded and de-aired or wedged, it is shaped by a variety of techniques. After shaping, it is dried and then fired.</p>
    </div>
    <div class="w3-third w3-container">
        <img src="http://site.artsheaven.com/images/article/pottery-ceramic.jpg" alt="Pottery" style="width:304px;height:228px;">
      <img src="http://blog.oxforddictionaries.com/wp-content/uploads/pottery-wheel.jpg" alt="Pottery" style="width:304px;height:228px;">
    </div>
  </div>

  <div class="w3-row">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Woodworking</h1>
      <p>Woodworking is the activity or skill of making items from wood, and includes cabinet making (Cabinetry and Furniture), wood carving, joinery, carpentry, and woodturning. Historically, woodworkers relied upon the woods native to their region, until transportation and trade innovations made more exotic woods available to the craftsman. Woods are typically sorted into three basic types: hardwoods typified by tight grain and derived from broadleaf trees, softwoods from coniferous trees, and man-made materials such as plywood and MDF.
Typically furniture such as tables and chairs is made using solid stock, and cabinet/fixture makers employ the use of plywood and other man made panel products.</p>
    </div>
    <div class="w3-third w3-container">
    <img src="http://hermanststudios.com/wp-content/uploads/2014/03/woodworking-generic.jpg" alt="Wood" style="width:304px;height:228px;">
    <img src="https://s3-production.bobvila.com/pages/46626/cover/crate_coffee_table-rev.jpg?1439913413" alt="Wood" style="width:304px;height:228px;">
    </div>
  </div>

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Papier-mâché</h1>
      <p>Papier-mâché is commonly used for large, temporary sculpture such as Carnival floats. A basic structure of wood, metal and metal wire (like poultry fencing or chicken wire) is covered in papier-mâché. Once dried, details are added. The papier-mâché is then sanded and painted. Carnival floats can be very large and comprise a number of characters, props and scenic elements all organized around a chosen theme. They can also accommodate several dozen people, including the operators of the mechanisms. The floats can have movable parts, like the facial features of a character or its limbs. It is not unusual for local professional architects, engineers, painters, sculptors and ceramists to take part in the design and construction of the floats. New Orleans Mardi Gras float maker Blaine Kern, operator of the Mardi Gras World float museum, brings Carnival float artists from Italy to work on his floats.</p>
    </div>
    <div class="w3-third w3-container">
      <img src="https://s-media-cache-ak0.pinimg.com/736x/65/07/2d/65072db1f58295cbbe45fea65b26d557.jpg" alt="Papier Mache" style="width:304px;height:228px;">
    <img src="https://i.ytimg.com/vi/KaLmdRBvGG4/hqdefault.jpg" alt="Papier Mache" style="width:304px;height:228px;">
    </div>
  </div>

  

  

<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}
</script>

</body>
</html>