<!DOCTYPE html>
<html>
<body background = "http://l.rgbimg.com/cache1vFngP/users/x/xy/xymonau/600/omLlk4c.jpg" opacity = 0.2>
    
<title>Hobbyist</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="#about" class="w3-bar-item w3-button w3-theme-l1">Hobbyist</a>
    <a href="/" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Home</a>
    <a href="/login" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Take our quiz!</a>
    <a href="/contact_us" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contact</a>
  </div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" style="z-index:3;width:200px;margin-top:43px;" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Hobbies</b></h4>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby1">Sewing</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby2">Art</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby3">Crafting</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby4">Cooking</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby5">Reading</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby6">Puzzles</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby7">Outdoors</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby8">Sports</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby9">Photography</a>
  <a class="w3-bar-item w3-button w3-hover-teal" href="/hobby10">Gardening</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-black"><font face = "rockwell" size="7"><center>WELCOME</center></font></h1>
      <p>Welcome to the hobbyist</p>
    </div>
    <div class="w3-third w3-container">
        <img src="http://www.palisadenews.com/wp-content/uploads/2016/04/hobbies.png" alt="Welcome" style="width:304px;height:304x;">
        <img src="http://freeiconbox.com/icon/256/15166.png" alt="Welcome" style="width:304px;height:304x;">
    </div>
  </div>

<form action = "musicrecplus.py" method = "POST">
   <input type = "submit" value = "Try the recomender">
</form>
  
  
  

<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}
</script>

</body>
</html>